<div class='container-fluid'>
  <div class='row'>
    <div class="jumbotron" style="margin-top: 30px">
    <div class="container">
      <h2>LGTMs for your teammates' pull requests</h2>
      <p>Click 'Copy to clipboard' and paste on GitHub</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" ui-sref="new">or create your own</a>
    </div>
    </div>

    <div class="container">
      <h4>Top</h4>
      <hr>
      <%= render 'posts/index' %> 
    </div>
  </div>
</div>
